# Binaries
/bin/
*.exe
*.exe~
*.dll
*.dylib

# Test binaries
*.test
*.out

# Go workspace files
go.work
go.work.sum

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Env / local config
.env
.env.local
